@import "_breakpoints";

@mixin container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin content-box-hover {
    background-image: url(images/pexels-karolina-grabowska-5882705.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;

                    .content-box-items {
                        position: relative;
                        z-index: 1;
                        color: white;

                        h3 {
                            color: white;
                        }
                    }

                    .overlay-blue {
                        opacity: 0.8;
                    }
}